body 
{
    margin: 0;
    padding: 0;
}
.inputDiv1
{
    float: left;
    width: 300px;
    background-color: #b0e0e6;
    border:1px solid red;
}

.floatRight 
{
    float:right;
}
.floatLeft
{
    float:left;
}

/*For status div*/
.statusDiv 
{
    text-align:center;   
    width:100%;
}
.errorDigits
{
    color: red;
    margin:auto auto auto 0;
}


/*For input1 form*/
label{
float: left;
width: 120px;
font-weight: bold;
}

input, textarea{
width: 180px;
margin-bottom: 5px;
}

textarea{
width: 250px;
height: 150px;
}

.boxes{
width: 1em;
}

#submitbutton{
margin-left: 120px;
margin-top: 5px;
width: 90px;
}

br{
clear: left;
}
/*input one form ends*/

.txbDigits
{
    width:50px;
    text-align:right;
}