body {
    margin: 0;
    padding: 0;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

#mainDiv{
    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
}
.inputDiv1 {
    float: left;
    width: 300px;
    background-color: #b0e0e6;
    border: 1px solid red;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

/*For status div*/
.statusDiv {
    text-align: center;
    width: 100%;
}

.errorDigits {
    color: red;
    margin: auto auto auto 0;
}


/*For input1 form*/
label {
    float: left;
    width: 120px;
    font-weight: bold;
}

input, textarea {
    width: 180px;
    margin-bottom: 5px;
}

textarea {
    width: 250px;
    height: 150px;
}

.boxes {
    width: 1em;
}

#submitbutton {
    margin-left: 120px;
    margin-top: 5px;
    width: 90px;
}

br {
    clear: left;
}
/*input one form ends*/

.txbDigits {
    width: 50px;
    text-align: center;
    font-size:18px;
}

.stepsDiv {
        border: brown 2px solid;            
        border-radius:10px;
}
.stepsPara{    
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
    margin:3px;
}
.buttons{
    background:-o-linear-gradient(bottom, black 5%, #401742 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, black), color-stop(1, #401742) ); 
    background:-moz-linear-gradient( center top, black 5%, #401742 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="black", endColorstr="#401742");	
    background: -o-linear-gradient(top,black,#401742);
    font-size:16px;
    border-radius:10px;
    border:1px dotted white;
    color:white;
    margin-top:5px;
    margin-bottom:5px;
    padding:8px;
}
.buttons:hover{
    background:-o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000) );
	background:-moz-linear-gradient( center top, #ff5656 5%, #7f0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");	background: -o-linear-gradient(top,#ff5656,7f0000);
	background-color:#ff5656;
}

